
body{
	background: no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

h3, p{
	font-family: 'Vollkorn SC', serif;
	text-align: center;
	margin: 0 auto;
}

.container{
	background-color: rgb(255,248,220);



}

.col-md-6{
	border: 2px solid black;
	padding-bottom: 30%;

}

.row{
	
}