
body{
	background: no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

h1{
	text-align: center;
	margin: 0 auto;
	font-family: 'Vollkorn SC', serif;
	border-bottom: 2px solid black;
	border-bottom-style: dashed;

}

h3, p{
	font-family: 'Vollkorn SC', serif;
	text-align: center;
	margin: 0 auto;
	font-size: 25px;
	padding: 5px;
}

.container{
	background-color: rgb(255,248,220);
	height: 560px;
	border: 2px solid black;
}

.col-md-6{
	/* border: 2px solid black; */
	padding-bottom: 30%;

}

img{
	height: 250px;
	width: 350px;
	border: 2px solid black;
}

