
body{
	background-color: rgb(60,179,113);
}

h3, p{
	font-family: 'Vollkorn SC', serif;
	text-align: center;
}

.container{
	background-color: rgb(255,248,220);



}

.col-md-6{
	border: 2px solid black;

}